@import url("https://fonts.googleapis.com/css2?family=Oxygen:wght@300;400&display=swap");

html {
    font-family: "Oxygen";
    background: linear-gradient(45deg, #a3abb9, #6ec298, #a2ec1a);
    background-size: 300% 300%;
    animation: fondoAnimado 10s infinite alternate;
  }
  
  @keyframes fondoAnimado {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
  }
  
a {
  color: rgb(207, 182, 185);
  text-decoration: none;
}
a:hover {
  color: #1aec4f;
}
.products {
  background-color: #df11cd;
  padding: 100px;
  border-radius: 1000px;
  box-shadow: 1000px 4000px 8000px;
}
.producto-info {
  padding: 50px;
  transform: scale(1.1);
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.Inicio {
    width: 100px;
    height: 40px;
    background-color: #ff4d4d;
    color: white;
    font-weight: bold;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.2);
  }
  
  .Inicio:hover {
    background-color: #e60000;
    transform: scale(1.5);
  }
  
@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(5);
  }
}